*.o
*.lo
*.la
config.log
config.status
config.h
stamp-h1
.deps
.libs
autom4te.cache
Makefile
Makefile.in
Makefile.old
aclocal.m4
compile
configure
depcomp
install-sh
missing
test-driver
cron/refile-and-grok.sh
grapher/update-dat-file-locations.sh
extractor/put-file.pl
grapher/dsc-grapher-cli.pl
grapher/dsc-grapher.pl
